Ignore the user-specific Raspberry Pi settings file
**/bootfs/pi_settings.conf

Calibration data files
*.json

Calibration image folders
distortion-calibration-images/
pnp-calibration-images/

Log files
*.log

Python cache
pycache/
*.pyc